@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
main{
    width: 90%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 0.75em;
    padding: 1em;
}
.rating{
    width: 3rem;
    height: 3rem;
    margin: 1em 0;

}
.rating a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 12%, 8%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: hsl(217, 12%, 63%);
}
.star{
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 12%, 8%);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    color: hsl(0, 0%, 100%);
    margin: 1em 0;
}
.content{
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
}
.score-container{
    display: flex;
    justify-content: space-between;
    color: hsl(217, 12%, 63%);
    margin-bottom: 1em;
}
.btn_submit{
    display: block;
    width: 100%;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: hsl(25, 97%, 53%);
    padding: 0.75rem;
    border-radius: 1.5em;
    margin-bottom: 1em;

}
.btn_submit:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
.rating a:hover{ 
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
.rating a:active{
    background-color: hsl(217, 12%, 63%);
}

.thank-you-content{
    text-align: center;
    padding: 2em 0;
}
.thank-you-img{
    margin-bottom: 1em;
}
.thank-you-content h3{
    color: hsl(0, 0%, 100%);
    margin-top: 1.2em;

}
.rating-text p{
    background-color: hsl(213, 12%, 8%);
    padding: 4px 0;
    max-width: 50%;
    margin: auto;
    border-radius: 1em;
    color: hsl(25, 97%, 53%);
}
.thanks-note{
    color: hsl(217, 12%, 63%);
    line-height: 1.5;
    width: 35ch;
    margin: auto;

}
.spacing{
    padding: 5px;
}
@media all and (min-width:600px){
    main{
        min-width: 400px;
        max-width: 35vw;
    }
}
@media all and (min-width:900px){
    main{
        min-width: 400px;
        max-width: 30vw;
    }
}
@media all and (min-width:1200px){
    main{
        min-width: 400px;
        max-width: 25vw;
    }
}

@media all and (min-width:1600px){
    main{
        min-width: 400px;
        max-width: 20vw;
    }
}